/* 重置样式 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
.content h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
input,
select,
textarea,
button {
    margin: 0;
    padding: 0
}

fieldset,
img {
    border: 0 none
}

dl,
ul,
ol,
menu,
li {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

input,
select,
textarea,
button {
    vertical-align: middle
}

button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer
}

.content a,
.footer-wrapper a {
    color: #666;
    text-decoration: none;
    outline: none;
}

.content a:active,
.content a:hover,
.footer-wrapper a:active,
.footer-wrapper a:hover {
    text-decoration: none
}

address,
caption,
cite,
code,
dfn,
em,
var {
    font-style: normal;
    font-weight: normal
}

caption {
    display: none;
}

img {
    vertical-align: top
}

.clear {
    clear: both;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}


/* 字体 */

@font-face {
    font-family: "Roboto";
    font-display: swap;
    src: url(./Roboto-Regular.ttf);
}


/* header */
body {
    height: 100%;
}

header {
    height: 60px;
}

.header .content,
.header-banner {
    width: 1120px;
    margin: 0 auto;
}

header .header {
    position: fixed;
    z-index: 999;
    background-color: #fff;
    width: 100%;
}

.header a .pc-logo {
    width: 170px;
    height: 60px;
    display: inline-block;
}

.header a .mobile-logo {
    display: none;
}

.header-banner .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-banner .content .text {
    max-width: 576px;
}

.header-banner .content .text h1 {
    font-size: 36px;
    color: #000000;
    line-height: 44px;
    margin-bottom: 30px;
    font-family: Roboto;
    text-align: left;
}

.header-banner .content .text p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 32px;
    font-family: Roboto;
}

.header-banner .content .text p a {
    color: #002FA7;
    font-family: Roboto;
}

.header-banner .content .image h1 {
    display: none;
    font-family: Roboto;
}


/* footer */

.center-box {
    height: calc(100vh - 600px);
}

.footer {
    background: #1e1e1e;
}

@media (max-width: 1100px) {
    .footer.migration {
        margin-left: 0;
        margin-top: 0;
    }
}

.footer .app-content {
    padding-bottom: 0;
}

.footer .atom {
    text-align: center;
    padding: 32px 24px;
    position: relative;
    border-bottom: 1px solid rgba(229, 229, 229, 0.12);
}

@media (max-width: 1440px) {
    .footer .atom {
        padding: 24px 0;
    }
}

@media (max-width: 1100px) {
    .footer .atom {
        padding: 24px 16px;
    }
}

.footer .atom-text {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    line-height: 28px;
}

@media (max-width: 1440px) {
    .footer .atom-text {
        font-size: 14px;
        line-height: 22px;
    }
}

.footer .atom-logo {
    height: 48px;
    margin-top: 16px;
}

@media (max-width: 1100px) {
    .footer .atom-logo {
        height: 38px;
    }
}

.footer-content .inner {
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 18px 0 32px;
    position: relative;
    min-height: 118px;
}

@media (max-width: 1400px) {
    .footer-content .inner {
        padding: 24px 0;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

.footer-content .app-content {
    max-width: 1120px;
    margin: 0 auto;
    padding:0 16px;
}

@media (max-width: 1100px) {
    .footer-content .app-content {
        padding: 0 16px;
    }
}

.footer-logo {
    flex: 1;
}

.footer-logo img {
    width: 130px;
    height: 46px;
}

.footer-logo .show-pc {
    display: block;
}

.footer-logo .show-mo {
    display: none;
}

@media (max-width: 1400px) {
    .footer-logo {
        text-align: center;
        margin: 16px 0;
    }

    .footer-logo .show-pc {
        display: none;
    }

    .footer-logo .show-mo {
        width: 86px;
        display: inline-block;
        height: 20px;
    }
}

.footer .copyright {
    font-size: 14px;
    color: #fff;
    margin-top: 16px;
}

@media (max-width: 1400px) {
    .footer .copyright {
        font-size: 12px;
        line-height: 18px;
        margin-top: 8px;
    }
}

.footer .license {
    font-size: 14px;
    color: #fff;
    margin-top: 16px;
}

.footer .license span {
    color: #707070;
}

.footer .footer-option {
    text-align: center;
}

.footer .footer-option .link {
    color: #fff;
    font-size: 14px;
    display: inline-block;
    padding: 0 12px;
    border-right: 1px solid #fff;
}

.footer .footer-option .link:last-child {
    border-right: 0;
}

@media (max-width: 1400px) {
    .footer .footer-option .link {
        font-size: 12px;
        line-height: 18px;
        padding: 0 8px;
    }
}

@media (max-width: 1400px) {
    .footer .footer-option {
        order: -1;
    }
}

.footer .footer-right {
    flex: 1;
}
@media  (min-width:1400px) {
    .footer .footer-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

.footer .footer-right .code-box {
    display: flex;
    justify-content: right;
    gap: 16px;
    margin-bottom: 16px;
}

.footer .footer-right .code-box .code-pop {
    position: relative;
    height: 20px;
    display: block;
}

.footer .footer-right .code-box .code-pop>img {
    height: 100%;
    object-fit: cover;
}

.footer .footer-right .code-box .code-pop .code-layer {
    position: absolute;
    top: -105px;
    left: -32px;
    z-index: 99;
    display: none;
    background: #fff;
    padding: 6px;
}

.footer .footer-right .code-box .code-pop .code-layer img {
    width: 78px;
    height: 78px;
}

.footer .footer-right .code-box .code-pop .code-layer .txt {
    font-size: 12px;
    color: #fff;
    display: none;
}

.footer .footer-right .code-box .code-pop .code-layer::after {
    border: 10px solid transparent;
    content: "";
    border-top-color: #fff;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}

@media (max-width: 800px) {
    .footer .footer-right .code-box .code-pop .code-layer {
        display: block;
        position: initial;
        background: none;
        padding: 0;
        text-align: center;
    }

    .footer .footer-right .code-box .code-pop .code-layer::after {
        display: none !important;
    }

    .footer .footer-right .code-box .code-pop .code-layer .txt {
        display: block;
    }
}

.footer .footer-right .code-box .code-pop:hover .code-layer {
    display: block;
}

@media (max-width: 800px) {
    .footer .footer-right .code-box .code-pop {
        height: auto;
    }

    .footer .footer-right .code-box .code-pop>img {
        display: none;
    }
}

@media (max-width: 1400px) {
    .footer .footer-right .code-box {
        justify-content: center;
        margin-top: 24px;
    }
}

.footer .footer-right .footer-links {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}

@media (min-width: 1400px) {
    .footer .footer-right .footer-links {
        max-width: 350px;
        flex-wrap: wrap;
    }
}

.footer .footer-right .footer-links .links-logo {
    height: 16px;
}

.footer .footer-right .footer-links .links-logo img {
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1100px) {
    .footer .footer-right .footer-links {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 800px) {
    .footer .footer-right .footer-links {
        display: flex;
        text-align: center;
    }

    .footer .footer-right .footer-links .img {
        height: 16px;
    }
}

.footer .footer-right .footer-links.iszh {
    gap: 10px;
}

.footer .footer-right .footer-links.iszh .links-logo {
    height: 14px;
}

.footer .footer-right .footer-links.iszh .links-logo:first-child {
    height: 18px;
}

@media (max-width: 800px) {
    .footer .footer-right .footer-links.iszh {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        margin-top: 40px;
    }

    .footer .footer-right .footer-links.iszh .img {
        height: 16px;
    }
}

.footer .footer-right p {
    color: #fff;
    font-size: 12px;
    margin-top: 8px;
}

.footer .email {
    color: #fff;
    font-size: 14px;
}

@media (max-width: 1400px) {
    .footer .email {
        font-size: 12px;
    }
}

@media screen and (max-width: 1120px) {

    /* header */
    header {
        height: 80px;
    }

    .header .content,
    .header-banner {
        width: 100%;
    }

    .header .content {
        padding: 12px 15px 17px 15px;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    }

    .header a .pc-logo {
        display: none;
    }

    .header a .mobile-logo {
        display: block;
        width: 142px;
        height: auto;
    }

    .header span {
        display: none;
    }

    .header-banner .content {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 40px;
    }

    .header-banner .content .text {
        max-width: 315px;
        margin: 20px auto 0 auto;
    }

    .header-banner .content .text h1 {
        display: none;
    }

    .header-banner .content .text p {
        font-size: 16px;
        line-height: 26px;
    }

    .header-banner .content .image img {
        width: 300px;
        height: 216px;
        display: block;
        margin: 0 auto;
    }

    .header-banner .content .image h1 {
        display: block;
        font-size: 24px;
        color: #000000;
        line-height: 34px;
        margin-bottom: 10px;
    }


    /* footer */
    .footer-wrapper {
        height: 508px;
    }

    .footer-wrapper .atom {
        padding: 0 50px;
        height: 180px;
    }

    .footer-wrapper .atom img {
        width: 191px;
        height: 41px;
    }

    .footer-wrapper .atom p {
        font-size: 12px;
        padding: 40px 0 20px 0;
    }

    .footer-wrapper .footer-content {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 328px;
        justify-content: space-evenly;
    }

    .footer-wrapper .footer-content .footer-left {
        height: unset;
        font-size: 14px;
        align-items: center;
    }

    .footer-wrapper .footer-content .footer-left .footer-mail {
        margin-top: 10px;
    }

    .footer-wrapper .footer-content .footer-center {
        align-items: unset;
        height: unset;
        order: 1;
    }

    .footer-wrapper .footer-content .footer-center .footer-copyright {
        margin-top: 16px;
    }

    .footer-wrapper .footer-content .footer-right {
        height: unset;
    }
}